click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
Logbook==1.1.0
MarkupSafe==1.0
mbstrdecoder==0.2.3
pingparsing==0.12.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
speedtest-cli==1.0.7
typepy==0.0.21
Werkzeug==0.14.1
